In [ ]:
# Pothana
my_str = "Welcome you all to ta session on 9th 2022"
print(len(my_str))
''.join(list(map(lambda x:x.upper(),my_str)))

In [3]:
## Mansi
my_str = "Welcome you all to ta session on 9th 2022"
print(len(my_str))

answer = ''.join(map(lambda x: x.upper(),my_str))

print(answer)
print(len(answer))

41
WELCOME YOU ALL TO TA SESSION ON 9TH 2022
41

In [8]:
## Brajeshwar

my_str = "Welcome you all to ta session on 9th 2022"
print(len(my_str),'\t',my_str)
def fun(x):
    return x.lower()

mapedval = ''.join(map(fun,my_str))
print(len(mapedval),'\t',mapedval)

41 	 Welcome you all to ta session on 9th 2022
41 	 welcome you all to ta session on 9th 2022

2. my_str = "Abhay, Welcome you all to ta session on 9th 2022"

output string must contain letters other than vowels

In [ ]:
%%time

# Pothana
my_str = "Abhay, Welcome you all to ta session on 9th 2022"
''.join(filter(lambda x:x.lower() not in 'aeiou',my_str))

In [11]:
my_str = "Abhay, Welcome you all to ta session on 9th 2022"
def fun(x):
    return x.lower() not in 'aeiou'

print(len(my_str),'\t',my_str)
ans = ''.join(filter(fun,my_str))
print(len(ans),'\t',ans)

48 	 Abhay, Welcome you all to ta session on 9th 2022
34 	 bhy, Wlcm y ll t t sssn n 9th 2022

In [ ]:
%%time

# Mansi

my_str = "Welcome you all to ta session on 9th 2022"
answer = ''.join(filter(lambda x: x not in 'aeiouAEIOU',my_str))
print(answer)

In [ ]:
%%time

## Manothama

a1 = ''.join(filter(lambda x:x not in 'AEIOUaeiou',my_str))
print(a1)

In [ ]:
%%time

## Abay
my_str = "Welcome you all to ta session on 9th 2022"
result = ''.join(filter(lambda x: x not in ['a','e','i','o','u','A','E','I','O','U'],my_str))
print(result)

Consider first 100 numbers and print the result of the expression x^2 + 7y

In [1]:
# Pothana

from functools import reduce 
print(reduce(lambda x,y:(x+2)+(7*y),range(1,101)))

35542

In [2]:
answer = reduce(lambda x,y:(x+2)+(7*y),range(1,101))
answer

35542

In [15]:
def fun(x,y):
    return (x+2)+(7*y)

answer1 = reduce(fun,range(1,101))
answer1

35542

In [2]:
## 9  -- https://towardsdatascience.com/10-algorithms-to-solve-before-your-python-coding-interview-feb74fb9bc27

sentence1 = "Hi all, my name is Tom...I am originally from Australia."
sentence2 = "I need to work very hard to learn more about algorithms in Python!"
sentence = "Hi tom, how are you doing? Coming for Python's class? Areey -- it's soo boring"

def solution(sentence):
    for p in "!?',;.":
        sentence = sentence.replace(p, '')
    words = sentence.split()
    return round(sum(len(word) for word in words)/len(words),2)
    
print(solution(sentence1))
print(solution(sentence2))
print(solution(sentence))

4.2
4.08
3.93

In [3]:
# Take a look at this piece of code <br>

A0= dict(zip(('s','w','o','r','n','a'),(11,22,33,44,55,66)))
A1= range(10)
A2= sorted([i for i in A1 if i in A0])
A3= sorted([A0[s] for s in A0])
A4= [i for i in A1 if i in A3]
A5= {i:i*i for i in A1}
A6= [[i,i*i] for i in A1]
print(A0)
print(A1)
print(A2)
print(A3)
print(A4)
print(A5)              
print(A6)

{'s': 11, 'w': 22, 'o': 33, 'r': 44, 'n': 55, 'a': 66}
range(0, 10)
[]
[11, 22, 33, 44, 55, 66]
[]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]